.section {
  background-color: black;
  padding: 20px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
}

.sectionHeader h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.collapseButton {
  background: transparent;
  color: #34C94B;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
}

.albumSwiper {
  padding: 10px 0;
}


.tabs {

min-height: 36px;
  background-color: transparent;
}
.tab {
  text-transform: capitalize; 
  font-size: 14px;
  color: #fff;  
  padding: 0 16px;
  min-width: auto;  
}
.tab.Mui-selected {
  color: #34c94b;  
}

.loading,
.error {
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.error {
  color: #ff4d4d;  /* Red for errors */
}